* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

header .container {
    display: flex;
    gap: 650px;
    justify-content: space-between;
    padding-top: 124px;
}


nav ul {
    display: flex;
    gap: 25px;
    text-decoration: none;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #737373;
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}

.btn {
    width: 150px;
    height: 43px;
    top: 550px;
    left: 122px;
    border-radius: 7px;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    color: white;
    border: none;
    margin-top: 50px;

}

h2 {
    font-family: Roboto;
    font-weight: 900;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;

}

.hero div {
    padding-top: 180px;

}


.hero {
    display: flex;
    justify-content: space-between;
}

span {

    font-family: Roboto;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}

h1 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-align: center;
    padding-top: 25px;
}

.card {
    width: 304px;
    height: 414px;
    top: 1022px;
    left: 143px;

}

.card1 {
    padding-top: 125px;
    gap: 81px;
    display: flex;
}

.card h2,
p {
    padding-top: 10px;
}

.hero2 {

    height: 357px;
    top: 1661px;
    margin-top: 225px;
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
    display: flex;
    gap: 63px;
    flex-wrap: wrap;
}

.card3 {
    width: 436px;
    height: 187px;
    top: 1759px;
    border-radius: 9px;
    margin-top: 98px;
    text-align: center;
    background: #FFFFFF;
    justify-content: center;
    box-shadow: 0px 0px 30px 0px #00000040;

}

.card3 img {
    margin-top: -100px;
}

footer .container {
    display: flex;
    padding-top: 172px;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container div P {
    flex-wrap: wrap;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 10px;
}

#modal {
    width: 1000px;
    background-color: white;
    text-align: center;
    padding: 42px;
    border-radius: 15px;
    box-shadow: 0px 0px 35px 0px #D4145A40;
    position: fixed;
    top: 150px;
    display: none;
    left: 250px;

}

#modal h2 {
    font-size: 32px;
    padding-bottom: 10px;
}

#modal input {
    width: 362px;
    height: 50px;
    padding: 13px;
    border: 1px solid #a1a1a1;
    border-radius: 9px;
    outline: none;
}

#modal textarea {
    width: 749px;
    height: 81px;
    padding: 15px;
    border: 1px solid #A1A1A1;
    border-radius: 9px;
    margin: 8px;
    outline: none;
}

@media(max-width:827px) {
    nav {
        display: none;
    }

    .hero2 {
        flex-wrap: wrap;
    }

    .wsx {
        width: 100%;
    }
   .card1{
    flex-wrap: wrap;
    justify-content: center;
   }
    #modal {
        width: 90%;
        left: 20px;
        top:50px;
    }

    #modal input {
        width: 90%;
    }

    #modal textarea {
        width: 90%;
    }
}

@media(max-width:450px) {
    .wsx {
        display: none;

    }

    body {
        justify-content: center;
    }
}